.modal-dialog,
.modal-content {
    height: auto;
}

.modal-body {
    background-color: #444;
}

.modal-footer {
    background-color: #444;
}

.hallitus-image {
    max-width: 110%;
    height: auto;
    transition: transform 0.3s ease;
    cursor: pointer; /* Show pointer to indicate it's clickable */
}

.hallitus-image-fullscreen {
    max-width: 100%;
    height: auto;
}
