.navbar {
    background: #a349a3;
}

.navbar-nav {
    list-style: none;
    text-align: center;
}

.navbar-brand {
    color: white;
}

.nav-item {
    display: inline;
    margin: 0 0.1rem;
}

.nav-link {
    color: #fff;
    text-decoration: none;
}

.navbar-icon {
    width: 30px;
}

.navbar-brand {
    font-size: 25px;
}
