<style>
footer {
    background: #a349a3;
    color: #fff;
    padding: 0.25rem 0;
}
</style>
<footer class="fixed-bottom">
    <div class="row justify-content-between align-items-center">
        <div class="col-sm-6 col-md-4 ps-5">
            <p>&copy; 2024 Excalibur Ry. All rights reserved.</p>
        </div>
        <div class="col-sm-6 col-md-4">
            <div class="d-flex justify-content-end">
                <a href="https://t.me/ttyExcalibur" target="_blank" class="p-1">
                    <img src="/assets/icons/telegram_logo.png" alt="Telegram">
                </a>
                <a href="https://www.instagram.com/excalibur_ry/" target="_blank" class="p-1">
                    <img src="/assets/icons/instagram_logo.png" alt="Instagram">
                </a>
                <a href="https://discord.gg/vfNEWu7" target="_blank" class="p-1">
                    <img src="/assets/icons/discord-logo.png" alt="Discord">
                </a>
                <a href="https://www.facebook.com/tut.xcalibur" target="_blank" class="p-1">
                    <img src="/assets/icons/facebook-logo-1-2-2723837219.png" alt="Facebook">
                </a>
                <a href="http://xcalibur.cc.tut.fi/wiki/Etusivu" target="_blank" class="p-1">
                    <img src="/assets/icons/wiki-logo.png" alt="Wiki">
                </a>
            </div>
        </div>
    </div>
</footer>

