<header>
    <div class="row align-items-center">
        <div class="col-md-1 float-start offset-md-1">
            <img src="assets/images/excalibur_logo.png" alt="Excalibur Logo">
        </div>
        <div class="col-md-8">
            <h1>Tampere academic roleplaying club Excalibur RY</h1>
        </div>
        <div class="col-md-1 float-start">
            <img src="assets/images/excalibur_logo.png" alt="Excalibur Logo">
        </div>
        <div class="offset-1">
        </div>
    </div>
</header>
