<link rel="stylesheet" href="/css/nav.css">
<nav class="navbar navbar-expand-lg">
    <div class="container-fluid">
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse justify-content-center" id="navbarNav">
            <ul class="navbar-nav">
                <li class="nav-item">
                    <a class="nav-link" href="/index.html">Etusivu</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/pages/news.html">Uutiset</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/pages/Fuksi.html">Fukseille</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/pages/Membership.html">Jäseneksi</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/pages/Board.html">Hallitus</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/pages/calendar.html">Kalenteri</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/pages/inventory.html">Inventaario</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/pages/index-en.html">In English</a>
                </li>
            </ul>
        </div>
    </div>
</nav>
