<!--
<nav class="navbar navbar-expand-lg">
    <div class="container-fluid">
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="row">
            <div class="col-12">
                <div class="collapse navbar-collapse justify-content-center" id="navbarNav">
                    <ul class="navbar-nav">
                    </ul>
                </div>
            </div>
        </div>
    </div>
</nav>-->

<link rel="stylesheet" href="/css/nav.css">
<nav class="navbar navbar-expand-lg fixed-top">
    <div class="container-fluid">
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <a class="navbar-brand" href="#">
            <img src="../assets/images/excalibur_logo.png" alt="Excalibur" width="auto" height="30" class="d-inline-block align-text-top">
            Excalibur RY
            <img src="../assets/images/excalibur_logo-180.png" alt="Excalibur" width="auto" height="30" class="d-inline-block align-text-top">
        </a> 
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                <li class="nav-item"> <a class="nav-link active" aria-current="page" href="/index.html">Etusivu</a> </li>
                <li class="nav-item"> <a class="nav-link" href="/pages/news.html">Uutiset</a> </li>
                <li class="nav-item"> <a class="nav-link" href="/pages/Fuksi.html">Fukseille</a> </li>
                <li class="nav-item"> <a class="nav-link" href="/pages/Membership.html">Jäseneksi</a> </li>
                <li class="nav-item"> <a class="nav-link" href="/pages/Board.html">Hallitus</a> </li>
                <li class="nav-item"> <a class="nav-link" href="/pages/calendar.html">Kalenteri</a> </li>
                <li class="nav-item"> <a class="nav-link" href="/pages/index-en.html">In English</a> </li>
                <!--<li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" data-bs-toggle="dropdown" aria-expanded="false">Dropdown</a> 
                    <ul class="dropdown-menu">
                    <li><a class="dropdown-item" href="#">Action</a></li>
                    <li><a class="dropdown-item" href="#">Another action</a></li>
                    <li><a class="dropdown-item" href="#">Something else here</a></li>
                    </ul>
                    </li>-->
            </ul>
            <div class="d-flex justify-content-end">
                <a href="https://t.me/ttyExcalibur" target="_blank" class="p-1">
                    <img src="/assets/icons/telegram.svg" alt="Telegram" class="navbar-icon">
                </a>
                <a href="https://www.instagram.com/excalibur_ry/" target="_blank" class="p-1">
                    <img src="/assets/icons/instagram.svg" alt="Instagram" class="navbar-icon">
                </a>
                <a href="https://discord.gg/vfNEWu7" target="_blank" class="p-1">
                    <img src="/assets/icons/discord.svg" alt="Discord" class="navbar-icon">
                </a>
                <a href="https://www.facebook.com/tut.xcalibur" target="_blank" class="p-1">
                    <img src="/assets/icons/facebook.svg" alt="Facebook" class="navbar-icon">
                </a>
                <a href="http://xcalibur.cc.tut.fi/wiki/Etusivu" target="_blank" class="p-1">
                    <img src="/assets/icons/wikipedia.svg" alt="Wiki" class="navbar-icon">
                </a>
            </div>
        </div>
    </div>
</nav>
