<link rel="stylesheet" href="/css/nav.css">
<script src="/code/nav.js"></script>
<nav class="navbar navbar-expand-lg fixed-top" id="navbar">
    <div class="container-fluid">
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <a class="navbar-brand badge" href="#">
            <img src="../assets/images/excalibur_logo.png" alt="Excalibur" width="auto" height="30" class="d-inline-block align-text-top">
            Excalibur RY
            <img src="../assets/images/excalibur_logo-180.png" alt="Excalibur" width="auto" height="30" class="d-inline-block align-text-top">
        </a> 
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav nav-pills me-auto mb-2 mb-lg-0 rounded">
                <a class="nav-link" href="/index.html" id="link_index">Etusivu</a>
                <a class="nav-link" href="/pages/news.html" id="link_news">Uutiset</a>
                <a class="nav-link" href="/pages/Fuksi.html" id="link_Fuksi">Fukseille</a>
                <a class="nav-link" href="/pages/Membership.html" id="link_Membership">Jäseneksi</a>
                <a class="nav-link" href="/pages/Board.html" id="link_Board">Hallitus</a>
                <a class="nav-link" href="/pages/calendar.html" id="link_calendar">Kalenteri</a>
                <a class="nav-link" href="/pages/inventory.html" id="link_inventory">Inventaario</a>
                <a class="nav-link" href="/pages/index-en.html" id="link_index-en">In English</a>
                <!--<li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" data-bs-toggle="dropdown" aria-expanded="false">Dropdown</a> 
                    <ul class="dropdown-menu">
                    <li><a class="dropdown-item" href="#">Action</a></li>
                    <li><a class="dropdown-item" href="#">Another action</a></li>
                    <li><a class="dropdown-item" href="#">Something else here</a></li>
                    </ul>
                    </li>-->
            </ul>
        </div>
            <div class="d-flex justify-content-end">
                <a href="https://t.me/ttyExcalibur" target="_blank" class="p-1">
                    <img src="/assets/icons/telegram.svg" alt="Telegram" class="navbar-icon">
                </a>
                <a href="https://www.instagram.com/excalibur_ry/" target="_blank" class="p-1">
                    <img src="/assets/icons/instagram.svg" alt="Instagram" class="navbar-icon">
                </a>
                <a href="https://discord.gg/vfNEWu7" target="_blank" class="p-1">
                    <img src="/assets/icons/discord.svg" alt="Discord" class="navbar-icon">
                </a>
                <a href="https://www.facebook.com/tut.xcalibur" target="_blank" class="p-1">
                    <img src="/assets/icons/facebook.svg" alt="Facebook" class="navbar-icon">
                </a>
                <a href="http://xcalibur.cc.tut.fi/wiki/Etusivu" target="_blank" class="p-1">
                    <img src="/assets/icons/wikipedia.svg" alt="Wiki" class="navbar-icon">
                </a>
            </div>
    </div>
</nav>
