<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Excalibur ry</title>
    <link rel="icon" type="image/x-icon" href="/assets/icons/favicon.ico">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"></script>
    <link rel="stylesheet" href="/css/main.css">
    <script src="https://unpkg.com/htmx.org@2.0.2"></script>
    <script src="https://cdn.jsdelivr.net/npm/marked/marked.min.js"></script>
    <script src="/code/markdown_convert.js"></script>
</head>

<body id="page_index-en" onload="update_nav()">
    <div hx-get="/components/nav-en.html" hx-trigger="load" id="nav"></div>
    <div class="container">

        <div id="carousel" class="carousel slide custom-carousel" data-bs-ride="carousel" style="height: 500px; overflow: hidden;">
            <ol class="carousel-indicators">
                <li data-bs-target="#carousel" data-bs-slide-to="0" class="active"></li>
                <li data-bs-target="#carousel" data-bs-slide-to="1"></li>
                <li data-bs-target="#carousel" data-bs-slide-to="2"></li>
                <li data-bs-target="#carousel" data-bs-slide-to="3"></li>
                <li data-bs-target="#carousel" data-bs-slide-to="4"></li>
            </ol>
            <div class="carousel-inner">
                <div class="carousel-item active">
                    <div class="card text-bg-dark d-block w-100">
                        <img src="/assets/images/Exca_doorway-min.jpg" class="card-img" alt="First slide">
                        <div class="card-img-overlay">
                            <h5 class="card-title">Welcome to Excalibur!</h5>
                            <p class="card-text">Tampere academic roleplaying club Excalibur RY is a student club focusing on roleplaying-, card-, miniature- and boardgames. Our club room is located in room RD102, on the first floor of Rakennustalo, right next to the main entrance.
                            </p>
                        </div>
                    </div>
                </div>
                <div class="carousel-item">
                    <div class="card text-bg-dark d-block w-100">
                        <img src="/assets/images/Exca_room1-min.jpg" class="card-img" alt="Second slide">
                        <div class="card-img-overlay">
                            <h5 class="card-title">Regular Events</h5>
                            <p class="card-text">The club hosts weekly board-, MtG-, and miniature- games every week, and a TTRPG day once per month! There's even a drink cooler.</p>
                        </div>
                    </div>
                </div>
                <div class="carousel-item">
                    <div class="card text-bg-dark d-block w-100">
                        <img src="/assets/images/Exca_room2-min.jpg" class="card-img" alt="Third slide">
                        <div class="card-img-overlay">
                            <h5 class="card-title">The Club Room</h5>
                        </div>
                    </div>
                </div>
                <div class="carousel-item">
                    <div class="card text-bg-dark d-block w-100">
                        <img src="/assets/images/Exca_games-min.jpg" class="card-img" alt="Fourth slide">
                        <div class="card-img-overlay">
                            <h5 class="card-title">Board Games</h5>
                            <p class="card-text">Excalibur has an inventory hundreds of games to choose from! Check the inventory to see what is in stock!</p>
                        </div>
                    </div>
                </div>
                <div class="carousel-item">
                    <div class="card text-bg-dark d-block w-100">
                        <img src="/assets/images/Exca_dm-min.jpg" class="card-img" alt="Fifth slide">
                        <div class="card-img-overlay">
                            <h5 class="card-title">Member Benefits</h5>
                            <p class="card-text">Club members can reserve the room for TTRPGs or board game nights for their friends! They can also rent out boardgames.</p>
                        </div>
                    </div>
                </div>
            </div>
            <a class="carousel-control-prev" href="#carousel" role="button" data-bs-slide="prev">
                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            </a>
            <a class="carousel-control-next" href="#carousel" role="button" data-bs-slide="next">
                <span class="carousel-control-next-icon" aria-hidden="true"></span>
            </a>
        </div>

        <div class="content">
            <div class="text" 
                 hx-get="/content/index-en.md" 
                 hx-trigger="load" 
                 hx-on::after-request="md2html('content');" 
                 id="content">
            </div>
        </div>

    </div>
</body>

</html>
